@{ ViewBag.Title = "Home Page"; }

<h2>Metodos de Pago Esan</h2>
<br />


<!-- The Modal REGISTRAR -->
<div class="modal" id="myModal">

    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Registrate Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> User Information</legend>
                    <label for="fname">CLIENTE</label>
                    <input type="text" id="txtCliente" required>
                    <label for="lname">DNI</label>
                    <input type="text" id="txtDni" required>
                    <label for="address">PRECIO</label>
                    <input type="text" id="txtPrecio" required>
                    <label for="lname">FECHA INICIO</label>
                    <input type="date" id="txtFechaini" required>
                    <label for="lname">FECHA FIN</label>
                    <input type="date" id="textFechafini" required><br />

                    
                    <label>CheckBox</label>
                    <input type="checkbox" id="txtCheckBox"  onchange="toggleSelect()" required><br />

                    <select name="cars" id="cars" disabled>
                        <option value="volvo">Seleccione</option>
                        <option value="volvo">Monetario</option>
                        <option value="saab">Porcentual</option>
                    </select>





                </fieldset>






            </div>
            <div class="form-footer">
                <input type="submit" id="btnInsertar" value="Registrate">

            </div>
        </form>
    </div>


</div>

<!-- The Modal actualizar -->
<div class="modal" id="myModalActualizar">

    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Actualiza Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> User Information</legend>
                    <label for="fname">CLIENTE</label>
                    <input type="text" id="txtClientes" required>
                    <label for="lname">DNI</label>
                    <input type="text" id="txtDnis" required>
                    <label for="address">PRECIO</label>
                    <input type="text" id="txtPrecios" required>
                    <label for="address">Fecha Inicio</label>
                    <input type="text" id="txtFechaIni" required>
                    <label for="address">Fecha Fin</label>
                    <input type="text" id="txtFechaFin" required>

                </fieldset>

            </div>
            <div class="form-footer">
                <input type="submit" id="IdActualizar" value="Actualizar">

            </div>
        </form>
    </div>


</div>


<!-- TABLA -->
<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="dt-buttons">
                <button type="button" onclick="$('#myModal').modal('show');" class="btn btn-primary" id="btnInsertar" data-bs-toggle="modal" data-bs-target="#myModal">Nuevo Registro</button>
                @*<button type="button" onclick="$('#myModalActualizar').modal('show');" id="btnActualizar" class="btn btn-primary">Editar</button>*@

                <button onclick="$('#myModalActualizar').modal('show');" type="button" id="btnActualizar" class="btn btn-success">Update</button>
                <button type="button" id="btnEliminar" class="btn btn-danger">Eliminar</button>

            </div>
            <br />
            <div class="card-body">
                <table id="myTable" class="table selected">
                    <thead>
                        <tr>
                            <th>IDCliente</th>
                            <th>Cliente</th>
                            <th>DNI</th>
                            <th>Precio</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                </table>
            </div>


            @*CAMPOS OCULTOS PARA CAPTURAR CADA FILA DEL DATATABLE*@

            <input type="hidden" id="tempid" name="tempid" />

            <input type="hidden" id="tempCliente" name="tempCliente" />
            <input type="hidden" id="tempDni" name="tempDni" />
            <input type="hidden" id="tempPrecio" name="tempPrecio" />
            <input type="hidden" id="tempFechainicio" name="tempFechainicio" />
            <input type="hidden" id="tempFechafin" name="tempFechafin" />


        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {



                   $("#myTable").DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Home")",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "IDCliente" },
                    { "data": "Cliente" },
                    { "data": "DNI" },
                    { "data": "Precio" },
                    {
                        "data": "FechaInicio",
                        "render": function (data, type, row) {
                            // Formatear la fecha utilizando Moment.js
                            return moment(data).format('DD-MM-YYYY');
                        }
                    },
                    {
                        "data": "FechaFin",
                        "render": function (data, type, row) {
                            // Formatear la fecha utilizando Moment.js
                            return moment(data).format('DD-MM-YYYY');
                        }
                    }

                ]

            });


            @* PINTE LOS DATOS A LA HORA DE DAR CLICK *@
            var table = $('#myTable').DataTable();

                $('#myTable').on('click', 'tbody tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });


        });






    </script>

    <script>
        function toggleSelect() {
            var checkBox = document.getElementById("txtCheckBox");
            var select = document.getElementById("cars");

            // Habilitar o deshabilitar el select según el estado del checkbox
            select.disabled = !checkBox.checked;
        }
    </script>





    @*SCRIPT PARA INSERTAR*@
    <script>

           /*btnInsertar*/
                $(document).ready(function () {
                    $("#btnInsertar").click(function myfunction() {
                        var cliente = $("#txtCliente").val();
                        var dni = $("#txtDni").val();
                        var precio = $("#txtPrecio").val();
                        var fechainicio = $("#txtFechaini").val();
                        var fechafin = $("#textFechafini").val();

                        // Datos de ejemplo, debes obtener estos valores de tus controles HTML
                        var idCliente = 1;

                        $.ajax({
                            url: "@Url.Action("Insertar", "Home")", // Ruta del controlador y acción
                            type: "POST",
                            data: { idCliente: idCliente, cliente: cliente, dni: dni, precio: precio, fechainicio: fechainicio, fechafin: fechafin },
                            success: function () {
                                /*alert("Registro insertado exitosamente");*/
                            },
                            error: function () {
                                alert("Colocar los Datos correctamente y de manera Obligatoria");
                            }
                        });


                    });
                });
    </script>




    @*OBTENER LOS DATOS OCULTAMENTE Por EL hidden *@
    <script>
        $(document).ready(function () {

            var table = $('#myTable').DataTable();


            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);
                $("#tempCliente").val(rowData.Cliente);
                $("#tempDni").val(rowData.DNI);
                $("#tempPrecio").val(rowData.Precio);
                $("#tempFechainicio").val(moment(rowData.FechaInicio).format('DD-MM-YYYY'));
                $("#tempFechafin").val(moment(rowData.FechaFin).format('DD-MM-YYYY'));

                /* console.log(rowData.IDCliente);*/

            });

        });


    @* Mostrar los datos Obtenidos en el Modal *@
        $(document).ready(function () {
            $("#btnActualizar").click(function () {
                // Mostrar los datos en el modal antes de actualizar
                var tempid = $("#tempid").val();


                var tempCliente = $("#tempCliente").val();
                $("#txtClientes").val(tempCliente);

                var tempDni = $("#tempDni").val();
                $("#txtDnis").val(tempDni);

                var tempPrecio = $("#tempPrecio").val();
                $("#txtPrecios").val(tempPrecio);

                var tempFechainicio = $("#tempFechainicio").val();
                $("#txtFechaIni").val(tempFechainicio);

                var tempFechafin = $("#tempFechafin").val();
                $("#txtFechaFin").val(tempFechafin);


        /*ACTUALIZAR */
                // Enviar datos al controlador mediante AJAX
                // Al hacer clic en el botón de "Actualizar" dentro del modal
                $("#IdActualizar").click(function () {
                    // Obtener los valores actualizados desde el modal
                    var modalCliente = $("#txtClientes").val();
                    var modalDni = $("#txtDnis").val();
                    var modalPrecio = $("#txtPrecios").val();
                    var modalFechaIni = $("#txtFechaIni").val();
                    var modalFechaFini = $("#txtFechaFin").val();


                    // Enviar datos al controlador mediante AJAX
                    $.ajax({
                        url: "@Url.Action("ActualizarPago", "Home")",
                        type: "POST",
                        data: { idCliente: tempid, cliente: modalCliente, dni: modalDni, precio: modalPrecio, fechainicio: modalFechaIni, fechafin: modalFechaFini },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                // Puedes realizar más acciones después de una actualización exitosa
                            } else {
                                alert("Error: " + response.message);
                            }
                        },
                        error: function () {
                            myTable
                            alert("Hubo un error al actualizar el pago");
                        }
                    });

                });

            });
        });



    </script>


    @*ELIMINAR REGISTRO*@
    <script>


        $(document).ready(function () {


            //console.log("ready!");


            var table = $('#myTable').DataTable();

            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);


               /* console.log(rowData.IDCliente);*/


            });


            $("#btnEliminar").click(function () {

                var tempid = $("#tempid").val();

                 $.ajax({
                    url: "@Url.Action("EliminarPago", "Home")",
                    type: "POST",
                     data: { IDCliente: tempid},
                    success: function (response) {
                        console.log("Respues del servidor:", response);

                        /*Para que refresque la pagina*/
                        window.location.href = '/';

                        // Puedes realizar acciones adicionales según la respuesta del servidor
                    },
                    error: function (error) {
                        console.error("Error en la solicitud AJAX: " + error.statusText);
                    }
                 });

            });


        });

    </script>




}