@{ ViewBag.Title = "Home Page"; }

<h2>Metodos de Pago Esan</h2>
<br />


<!-- The Modal REGISTRAR -->
<div class="modal" id="myModal">

    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Registrate Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> User Information</legend>
                    <label for="fname">CLIENTE</label>
                    <input type="text" id="txtCliente" required>
                    <label for="lname">DNI</label>
                    <input type="text" id="txtDni" required>
                    <label for="address">PRECIO</label>
                    <input type="text" id="txtPrecio" required>

                </fieldset>

            </div>
            <div class="form-footer">
                <input type="submit" id="btnInsertar" value="Registrate">

            </div>
        </form>
    </div>


</div>

<!-- The Modal actualizar -->
<div class="modal" id="myModalActualizar">

    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Actualiza Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> User Information</legend>
                    <label for="fname">CLIENTE</label>
                    <input type="text" id="txtClientes" required>
                    <label for="lname">DNI</label>
                    <input type="text" id="txtDnis" required>
                    <label for="address">PRECIO</label>
                    <input type="text" id="txtPrecios" required>

                </fieldset>

            </div>
            <div class="form-footer">
                <input type="submit" id="IdActualizar" value="Actualizar">

            </div>
        </form>
    </div>


</div>


<!-- TABLA -->
<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="dt-buttons">
                <button type="button" onclick="$('#myModal').modal('show');" class="btn btn-primary" id="btnInsertar" data-bs-toggle="modal" data-bs-target="#myModal">Nuevo Registro</button>
                @*<button type="button" onclick="$('#myModalActualizar').modal('show');" id="btnActualizar" class="btn btn-primary">Editar</button>*@

                <button onclick="$('#myModalActualizar').modal('show');" type="button" id="btnActualizar" class="btn btn-success">Update</button>
                <button type="button" id="btnEliminar" class="btn btn-danger">Eliminar</button>

            </div>
            <br />
            <div class="card-body">
                <table id="myTable" class="table selected">
                    <thead>
                        <tr>
                            <th>IDCliente</th>
                            <th>Cliente</th>
                            <th>DNI</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                </table>
            </div>


            @*CAMPOS OCULTOS PARA CAPTURAR CADA FILA DEL DATATABLE*@

            <input type="hidden" id="tempid" name="tempid" />

            <input type="hidden" id="tempCliente" name="tempCliente" />
            <input type="hidden" id="tempDni" name="tempDni" />
            <input type="hidden" id="tempPrecio" name="tempPrecio" />


        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Home")",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "IDCliente" },
                    { "data": "Cliente" },
                    { "data": "DNI" },
                    { "data": "Precio" },

                ]

            });


        });


    </script>

    @*SCRIPT PARA INSERTAR*@
    <script>

           /*btnInsertar*/
                $(document).ready(function () {
                    $("#btnInsertar").click(function myfunction() {
                        var cliente = $("#txtCliente").val();
                        var dni = $("#txtDni").val();
                        var precio = $("#txtPrecio").val();

                        // Datos de ejemplo, debes obtener estos valores de tus controles HTML
                        var idCliente = 1;

                        $.ajax({
                            url: "@Url.Action("Insertar", "Home")", // Ruta del controlador y acción
                            type: "POST",
                            data: { idCliente: idCliente, cliente: cliente, dni: dni, precio: precio },
                            success: function () {
                                /*alert("Registro insertado exitosamente");*/
                            },
                            error: function () {
                                alert("Hubo un error al insertar o actualizar el pago");
                            }
                        });


                    });
                });
    </script>


    @*PINTE LOS DATOS A LA HORA DE DAR CLICK*@
    <script>

        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                select: true,
                // otras opciones...
            });


            // Evento de clic en una fila para seleccionarla
            $('#myTable').on('click', 'tbody tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });


        });
    </script>

    @*OBTENER LOS DATOS DEL MODAL / ACTUALIZAR *@
<script>
        $(document).ready(function () {

            var table = $('#myTable').DataTable();

            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);
                $("#tempCliente").val(rowData.Cliente);
                $("#tempDni").val(rowData.DNI);
                $("#tempPrecio").val(rowData.Precio);

                /* console.log(rowData.IDCliente);*/

            });

        });

        $(document).ready(function () {
            $("#btnActualizar").click(function () {
                // Mostrar los datos en el modal antes de actualizar
                var tempid = $("#tempid").val();


                var tempCliente = $("#tempCliente").val();
                $("#txtClientes").val(tempCliente);

                var tempDni = $("#tempDni").val();
                $("#txtDnis").val(tempDni);

                var tempPrecio = $("#tempPrecio").val();
                $("#txtPrecios").val(tempPrecio);



                // Enviar datos al controlador mediante AJAX
                // Al hacer clic en el botón de "Actualizar" dentro del modal
                $("#IdActualizar").click(function () {
                    // Obtener los valores actualizados desde el modal
                    var modalCliente = $("#txtClientes").val();
                    var modalDni = $("#txtDnis").val();
                    var modalPrecio = $("#txtPrecios").val();

                    
                    // Enviar datos al controlador mediante AJAX
                    $.ajax({
                        url: "@Url.Action("ActualizarPago", "Home")",
                        type: "POST",
                        data: { idCliente: tempid, cliente: modalCliente, dni: modalDni, precio: modalPrecio },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                // Puedes realizar más acciones después de una actualización exitosa
                            } else {
                                alert("Error: " + response.message);
                            }
                        },
                        error: function () {
                            alert("Hubo un error al actualizar el pago");
                        }
                    });

                });

            });
        });



</script>


    @*ELIMINAR REGISTRO*@
    <script>


        $(document).ready(function () {


            //console.log("ready!");


            var table = $('#myTable').DataTable();

            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);

               /* console.log(rowData.IDCliente);*/


            });


            $("#btnEliminar").click(function () {

                var tempid = $("#tempid").val();

                 $.ajax({
                    url: "@Url.Action("EliminarPago", "Home")",
                    type: "POST",
                     data: { IDCliente: tempid},
                    success: function (response) {
                      /*  console.log("Respues del servidor:", response);*/
                        alert("Registro Eliminado Correctamente");

                        // Puedes realizar acciones adicionales según la respuesta del servidor
                    },
                    error: function (error) {
                        console.error("Error en la solicitud AJAX: " + error.statusText);
                    }
                 });

            });


        });

    </script>


    

}